<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

- list popular languages for data science

- list popular libraries used by data scientists

- list popular data science tools

Some of the popular languages that Data Scientists use are:

**Objectives:**

    1. Python

    2. R

    3. SQL

Some of the commonly used libraries used by Data Scientists include:

    1. Pandas

    2. Scikit-Learn

    3. Tensorflow

Data Science Tools

Rstudio

Apache Spark

Apache Hadoop

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#Below are a few examples of evaluating arithmetic expressions in Python
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Taylor Stacey